<template>
  <div id="app">
    <h1>{{ msg }}</h1>
     <div id="chart">
      <apexchart type=line height=350 :options="chartOptions" :series="series" />
    </div>
  </div>
</template>

<script>

import VueApexCharts from 'vue-apexcharts'
import JQuery from 'jquery'
let $ = JQuery

export default {
  name: 'app',
  data: function () {
    return {
      msg: 'Temper User Login Statistics',
      chartOptions : [],
      series: []

    }
  },
  created: function() {
    this.fetchData();
  },
  methods: {
    fetchData() {
      var url = 'http://localhost:8022/show-chart';
      var type = "GET";
      var charts = this.request(url, type, '');
    },
    /**
     * Ajax HTTP request handler
     * Support HTTP methods : GET, POST, PUT, DELETE
     */
    request: function(url, type, data, async = true) {
        var _this = this;
        return $.ajax({
            url: url,
            type: type,
            async: async,
            // data: '',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            crossDomain: true,
            beforeSend: function(xhr) {
                xhr.setRequestHeader("X-Location", 1);
            },
            success: function(result, status, xhr) {
                _this.addValues(result);
            },
            error: function(error) {
                return error;
            }
        });
    },
    addValues: function (values) {
        
        var _this = this;
        $.each(values, function(key, value){
          let tmpyAxis = [];
          $.each(value, function(key2, value2){
            tmpyAxis.push(value2);
          });
          var tmpData = {
            name : key,
            data : tmpyAxis
          }
          _this.series.push(tmpData);  
        });
       
        this.chartOptions =  {
          chart: {
            zoom: {
              enabled: false
            },
          },
          dataLabels: {
            enabled: false
          },
          stroke: {
            width: [2, 5, 2],
            curve: 'straight',
            dashArray: [0, 8, 5]
          },

          title: {
            text: 'Persentage of Users',
            align: 'left'
          },
          markers: {
            size: 0,
            
            hover: {
              sizeOffset: 6
            }
          },
          xaxis: {
            categories: ['0','5','10','15','20','25','30','35','40','45','50','55','60','65','70','75','80','85','90','95','99','100'],
            title: {
              text: 'Onboarding Persentage',
            },
          },
          tooltip: {
            y: [{
              title: {
                formatter: function (val) {
                  return val
                }
              }
            }, {
              title: {
                formatter: function (val) {
                  return val
                }
              }
            }, {
              title: {
                formatter: function (val) {
                  return val;
                }
              }
            }]
          },
          grid: {
            borderColor: '#f1f1f1',
          }
        }
    }


  },
  components: {
    'apexchart': VueApexCharts
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
